div.img-container img{
  width: 100%;
  height: 350px;
}
.smart-margin-off{
    margin: 5px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
.margin-top-15{
    margin-top: 15px;
}
.public a.btn{
    color: #fff !important;
}
.margin-top-submit{
    margin-top: -20px;
}