<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nenu.innovation.mapper.ProjectMapper">
    <resultMap id="projectResultMap" type="Project">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="charger" property="charger"/>
        <result column="teacher" property="teacher"/>
        <result column="school_id" property="schoolId"/>
        <result column="created_time" property="createdTime" />
        <result column="last_modified_time" property="lastModifiedTime" />
    </resultMap>

    <insert id="newProject">
        INSERT INTO t_project (name, charger,teacher,school_id)
        VALUES(#{name}, #{charger},#{teacher},#{schoolId})
    </insert>

    <select id="checkExistByName" resultType="int">
        SELECT COUNT(1)
        FROM t_project
        WHERE name = #{name}
    </select>

    <select id="listAll" resultMap="projectResultMap">
        SELECT *
        FROM t_project
        ORDER BY created_time
    </select>

    <select id="count" resultType="integer">
        SELECT COUNT(1)
        FROM t_project
    </select>

    <update id="updateProjectInfo">
        UPDATE `t_project`
        SET name = #{name},charger = #{charger},teacher = #{teacher}, school_id = #{schoolId}
        WHERE id = #{id}
    </update>

    <select id="queryById" resultMap="projectResultMap">
        SELECT * FROM `t_project`
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM `t_project`
        WHERE id = #{id}
    </delete>

    <select id="queryBySearchInfo" resultMap="projectResultMap">
        SELECT * from `t_project`
        <if test="name == null and charger == null and teacher == null ">

        </if>
        <if test="name != null and charger != null and teacher != null ">
            WHERE name LIKE "%"#{name}"%" AND charger LIKE "%"#{charger}"%" AND teacher LIKE  "%"#{teacher}"%"
        </if>
        <if test="name == null and charger != null and teacher != null ">
            WHERE charger LIKE "%"#{charger}"%" AND teacher LIKE  "%"#{teacher}"%"
        </if>
        <if test="name == null and charger == null and teacher != null ">
            WHERE teacher LIKE  "%"#{teacher}"%"
        </if>
        <if test="name == null and charger == null and teacher == null ">
            WHERE school_id = #{schoolId}
        </if>
        <if test="name == null and charger != null and teacher == null">
            WHERE name LIKE "%"#{name}"%" AND teacher LIKE  "%"#{teacher}"%"
        </if>
        <if test="name != null and charger == null and teacher == null">
            WHERE name LIKE "%"#{name}"%"
        </if>
        <if test="name != null and charger != null and teacher == null">
            WHERE name LIKE "%"#{name}"%" AND charger LIKE "%"#{charger}"%"
        </if>
        <if test="name != null and charger == null and teacher != null">
            WHERE name LIKE "%"#{name}"%" AND teacher LIKE  "%"#{teacher}"%"
        </if>
        AND school_id = #{schoolId}
    </select>
</mapper>